Question #*1*

In [ ]:
import numpy as np

In [ ]:
def Sum(Vec1,Vec2):
  return(np.add(Vec1, Vec2))

In [ ]:
Vector1=np.array([1,2,3])
Vector2=np.array([4,5,6])
print(Sum(Vector1,Vector2))

[5 7 9]

Question #2

In [ ]:
import math
def CosAng(Vec1,Vec2):
  CombLis=[]  
  CombBothVal=0
  CombVec1=0
  CombVec2=0
  ValAdd=0
  MultiVecVal=0
  for count,i in enumerate(Vec1):
    CombBothVal=i*Vec2[count]
    CombLis.append(CombBothVal)

  for i in (CombLis):
    ValAdd=ValAdd+i
  
  for i in (Vec1):
    CombVec1=CombVec1+i*i
  CombVec1=math.sqrt(CombVec1)
  
  for i in (Vec2):
    CombVec2=CombVec2+i*i
  CombVec2=math.sqrt(CombVec2)

  MultiVecVal=CombVec1*CombVec2
  return(ValAdd/MultiVecVal)

In [ ]:
  print(CosAng([6,3,1],[5,3,1]))

0.9968895725584537

Question 3

In [ ]:
from numpy.linalg import inv
import numpy as np
def Prob3(x,y):
  Tranx=np.transpose(x)
  TranNorm=((x.dot(Tranx)))
  InvTranNorm=inv(TranNorm)
  DotProd1=Tranx.dot(InvTranNorm)
  w=DotProd1.dot(y)
  return w

In [ ]:
import numpy as np
x=np.random.random((100,5))
y=np.random.random((100,1))
print(Prob3(x,y))

[[ 131.44178115]
 [-331.84236744]
 [-315.69215798]
 [ 308.99247015]
 [ -96.57254294]]

Question 5

In [ ]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
df[['total_bedrooms','population','households']].loc[(df['total_bedrooms']<10)].groupby(['total_bedrooms']).mean()

                population  households
total_bedrooms
1.0              13.000000    1.000000
2.0               6.000000    2.000000
3.0              24.250000    6.500000
4.0              26.333333    5.833333
5.0              15.000000    5.000000
6.0              27.200000    7.400000
7.0              34.750000    6.750000
8.0              19.000000    7.500000
9.0              33.285714   10.571429